@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="jumbotron">
        <h2>Sistema de Vendas</h2>
    </div>
    <div>
        <img src="~/ProdutoImagens/cadastro.jpg" />
    </div>

</div>